<!-- #Content -->
<!-- Slider -->
<section>
    <div class="rev_slider_wrapper fullwidthbanner-container">
        <div class="rev_slider" id="slide-2" data-version="5.0">
            <ul>
                <li data-transition="fade">
                    <img src="~/Public/images/slide_05.jpg" alt="Work" class="rev-slidebg">
                    <div class="tp-caption" data-x="left" data-y="bottom" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:800;" data-start="1000" data-hoffset="['80','0','20','25']">
                        <img src="~/Public/images/person_02.png" alt="Bemax">
                    </div>

                    <div class="tp-caption slide-heading-3" data-x="left" data-y="145" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['800', '600', '550','400', '50']"
                         data-start="900" data-fontsize="['50','50','40', '40']">Success</div>

                    <div class="tp-caption slide-heading-4 " data-x="left" data-y="230" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['800', '600', '550','400', '50']"
                         data-start="1200" data-fontsize="['25','25','20', '20']">Good Ideas</div>
                    <div class="tp-caption slide-heading-4 " data-x="left" data-y="275" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['800', '600', '550','400', '50']"
                         data-start="1350" data-fontsize="['25','25','20', '20']">Small Business</div>
                    <div class="tp-caption slide-heading-4" data-x="left" data-y="320" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['800', '600', '550','400', '50']"
                         data-start="1500" data-fontsize="['25','25','20', '20']">Small Goals</div>
                    <div class="tp-caption" data-x="left" data-y="390" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-80','-80','-110','-110']" data-hoffset="['800', '600', '500','400', '50']" data-start="1700">
                        <a href="#" class="slide-button-1">Get Started</a>
                    </div>

                </li>

                <li data-transition="fade">
                    <img src="~/Public/images/slide_05.jpg" alt="Work" class="rev-slidebg">

                    <div class="tp-caption" data-x="right" data-y="bottom" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:800;" data-start="1000" data-hoffset="['100','0','10','20']">
                        <img src="~/Public/images/person_01.png" alt="Bemax">
                    </div>

                    <div class="tp-caption slide-heading-3" data-x="left" data-y="145" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-120']" data-hoffset="['150', '80', '50', '50']"
                         data-start="900" data-fontsize="['50','50','40', '40']">Awesome</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="230" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-120']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1200" data-fontsize="['25','25','20', '20']">User Experience</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="275" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1350" data-fontsize="['25','25','20', '20']">Business Management</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="320" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1500" data-fontsize="['25','25','20', '20']">Content Strategy</div>

                    <div class="tp-caption" data-x="left" data-y="390" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-80','-80','-110','-110']" data-hoffset="['150', '80', '50', '50']" data-start="1700">
                        <a href="#" class="slide-button-1 ">Get Started</a>
                    </div>
                </li>

                <li data-transition="fade">
                    <img src="~/Public/images/slide_06.jpg" alt="Work" class="rev-slidebg">

                    <div class="tp-caption" data-x="right" data-y="bottom" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:800;" data-start="1000" data-hoffset="['80','0','10','20']">
                        <img src="~/Public/images/person_03.png" alt="Bemax">
                    </div>

                    <div class="tp-caption slide-heading-3" data-x="left" data-y="145" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="900" data-fontsize="['50','50','40', '40']">Awesome</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="230" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1200" data-fontsize="['25','25','20', '20']">User Experience</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="275" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1350" data-fontsize="['25','25','20', '20']">Business Management</div>

                    <div class="tp-caption slide-heading-4" data-x="left" data-y="320" data-transform_in="x:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="x:80px;opacity:0;s:300;" data-voffset="['-70','-70','-100','-100']" data-hoffset="['150', '80', '50', '50']"
                         data-start="1500" data-fontsize="['25','25','20', '20']">Content Strategy</div>

                    <div class="tp-caption" data-x="left" data-y="390" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-80','-80','-110','-110']" data-hoffset="['150', '80', '50', '50']" data-start="1700">
                        <a href="#" class="slide-button-1">Get Started</a>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Icon box -->
<section>
    <div class="section-wrapper bg-blue p-t-40 p-b-44">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-4">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <img src="~/Public/images/icon/iconbox_01.png" alt="icon">
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Responsive Design</a>
                                <div class="iconbox-content-body">
                                    <p>Fusce at accumsan justo. Nulla lacus efficitur vel aliquam sed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-4">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <img src="~/Public/images/icon/iconbox_02.png" alt="icon">
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Very Easy Customizie</a>
                                <div class="iconbox-content-body">
                                    <p>Duis nec neque nec risus semper vehicula. Duis interdum convallis augue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-4">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <img src="~/Public/images/icon/iconbox_03.png" alt="icon">
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Icon Font Awesome</a>
                                <div class="iconbox-content-body">
                                    <p>Aliquam commodo ornare lorem, sit amet dapibus tortor laoreet quis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Icon box -->
<!-- About -->
<section>
    <div class="sectiom-wrapper p-t-60 p-b-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="~/Public/images/about.png" class="res-image" alt="About">
                </div>
                <div class="col-lg-6">
                    <div class="section-title justify-content-start">
                        <h3 class="text-left">We are Bemax</h3>
                        <div class="title-border m-b-30"></div>
                    </div>
                    <p style="line-height: 25px;">Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar malesuada. Suspendisse eu rhoncus ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, Etiam volutpat felis in sagittis porttitor</p>
                    <div class="au-skills">
                        <div class="au-skill-title">Our Skills</div>
                        <div class="au-skill-container">
                            <div class="au-progress">
                                <span class="au-progress__title">Web Design</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="90">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">HTML5/CSS3</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="85">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">WordPress</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="95">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Latest BLog-->
<section>
    <div class="section-wrapper bg-gray p-t-60">
        <div class="section-title text-center">
            <h3>Latest Projects</h3>
            <div class="title-border m-b-67"></div>
        </div>
        <div class="owl-carousel" data-items="5" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"5"}}'>
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="~/Public/images/project_05.jpg" alt="Project 1">
                    </div>
                    <div class="project-content">
                        <div class="project-content-body">
                            <a href="#" class="project-title">Business Growth Solutions</a>
                            <div class="project-label">
                                <a href="#">Finance</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="~/Public/images/project_06.jpg" alt="Project 1">
                    </div>
                    <div class="project-content">
                        <div class="project-content-body">
                            <a href="#" class="project-title">Business Growth Solutions</a>
                            <div class="project-label">
                                <a href="#">Finance</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="~/Public/images/project_07.jpg" alt="Project 1">
                    </div>
                    <div class="project-content">
                        <div class="project-content-body">
                            <a href="#" class="project-title">Business Growth Solutions</a>
                            <div class="project-label">
                                <a href="#">Finance</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="~/Public/images/project_08.jpg" alt="Project 1">
                    </div>
                    <div class="project-content">
                        <div class="project-content-body">
                            <a href="#" class="project-title">Business Growth Solutions</a>
                            <div class="project-label">
                                <a href="#">Finance</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="~/Public/images/project_09.jpg" alt="Project 1">
                    </div>
                    <div class="project-content">
                        <div class="project-content-body">
                            <a href="#" class="project-title">Business Growth Solutions</a>
                            <div class="project-label">
                                <a href="#">Finance</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest Blog -->
<!-- Testimonial-->
<section>
    <div class="section-wrapper bg-pattern p-t-62 p-b-74">
        <div class="container">
            <div class="section-title">
                <h3>testimonial</h3>
                <div class="title-border m-b-35"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="owl-carousel au-owl-dots" data-loop="true" data-items="1">
                        <div class="testimonial testi-style-2">
                            <div class="testi-container">
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_01.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">Michael Green</a>
                                        <p class="testi-author-job">Product Manager</p>
                                    </div>
                                </div>
                                <div class="testi-content">
                                    <p>
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-2">
                            <div class="testi-container">
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_02.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">Dylan Daniels</a>
                                        <p class="testi-author-job">Product Designer</p>
                                    </div>
                                </div>
                                <div class="testi-content">
                                    <p>
                                        <span></span>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
                                        explorer
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-2">
                            <div class="testi-container">
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_03.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">William Peterson</a>
                                        <p class="testi-author-job">Photographer</p>
                                    </div>
                                </div>
                                <div class="testi-content">
                                    <p>
                                        <span></span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial -->
<!-- Princing table -->
<section>
    <div class="section-wrapper bg-pattern-2 p-t-60 p-b-50">
        <div class="container">
            <div class="section-title">
                <h3>Pricing tables</h3>
                <div class="title-border m-b-10"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4">
                    <div class="princing">
                        <div class="princing-container">
                            <div class="princing-price">
                                <span>5</span>
                            </div>
                            <div class="princing-type">
                                Sliver
                            </div>
                            <ul class="list-services">
                                <li>05 Theme Features</li>
                                <li>1 Colors & Fonts</li>
                                <li>03 Month Support</li>
                            </ul>
                            <a href="#" class="princing-button">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="princing best-sale">
                        <div class="princing-container">
                            <div class="princing-price">
                                <span>79</span>
                            </div>
                            <div class="princing-type">
                                Gold
                            </div>
                            <ul class="list-services">
                                <li>10 Theme Features</li>
                                <li>5 Colors & Fonts</li>
                                <li>06 Month Support</li>
                            </ul>
                            <a href="#" class="princing-button">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="princing">
                        <div class="princing-container">
                            <div class="princing-price">
                                <span>120</span>
                            </div>
                            <div class="princing-type">
                                Platinum
                            </div>
                            <ul class="list-services">
                                <li>Unlimited Theme Features</li>
                                <li>Unlimited Colors & Fonts</li>
                                <li>12 Month Support</li>
                            </ul>
                            <a href="#" class="princing-button">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Princing table -->
<!-- Latest Blog -->
<section>
    <div class="section-wrapper p-t-59 p-b-70">
        <div class="container">
            <div class="section-title">
                <h3>Latest blog Posts</h3>
                <div class="title-border m-b-10"></div>
            </div>
            <div class="owl-carousel au-owl-dots" data-loop="true" data-responsive='{"0":{"items":"1"},"768":{"items":"1"},"992":{"items":"2"}}'>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_02.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">Help your business to success</a>
                            <p class="blog-content-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_03.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">How to find work you love</a>
                            <p class="blog-content-text">Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar eu rhoncus ligula. Ut leo mauris, molestie imperdiet consequat</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_01.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">10 Tips for a Business Strong Start</a>
                            <p class="blog-content-text">Donec sit amet neque lectus. Ut vitae turpis justo. Nullam a sodales est, at viverra sem. Mauris vitae pellentesque nisi.</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest Blog -->
<!-- Partner -->
<section>
    <div class="section-wrapper bg-gray-1 p-t-60 p-b-70">
        <div class="container">
            <div class="section-title">
                <h3>Our Partners</h3>
                <div class="title-border m-b-2"></div>
            </div>
            <div class="owl-carousel au-owl-dots" data-dots="true" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"6"}}'>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_01.png" alt="Partner 01">
                </div>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_02.png" alt="Partner 02">
                </div>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_03.png" alt="Partner 03">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_04.png" alt="Partner 04">
                </div>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_05.png" alt="Partner 05">
                </div>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_06.png" alt="Partner 06">
                </div>
                <div class="partner m-b-25">
                    <img src="~/Public/images/partner_03.png" alt="Partner 03">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_04.png" alt="Partner 04">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner -->
<!-- Newsletter -->
<section>
    <div class="section-wrapper bg-blue py-40">
        <div class="container">
            <div class="newsletter">
                <div class="newsletter-container">
                    <div class="newsletter-content">
                        <h3 class="newsletter-content-title">Subscribe to Newsletters</h3>
                        <p class="m-b-8">And stay informed about our news and events</p>
                    </div>
                    <div class="newsletter-form">
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email Address">
                            </div>
                            <div class="form-group">
                                <button>
                                    <i class="fa fa-paper-plane"></i>Subcribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Newslleter -->
