<!-- #Content -->
<!-- Slider -->
<section>
    <div class="rev_slider_wrapper">
        <div class="rev_slider" id="slide-5" data-version="5.0">
            <ul>
                <li data-transition="fade">
                    <img src="~/Public/images/slide_15.jpg" alt="Work" class="rev-slidebg">

                    <div class="tp-caption slide-heading-2 text-capitalize font-weight-normal" data-x="center" data-y="center" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-100','-100','-100','-90','-80']"
                         data-start="900">you think big</div>

                    <div class="tp-caption slide-heading-1" data-x="center" data-y="center" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-30','-30','-30','-30','-25']" data-start="1300" data-fontsize="['72','72','52','50','46', '42']">you get big</div>

                    <div class="tp-caption" data-x="center" data-y="center" data-transform_in="y:100px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:200px;opacity:0;s:300;" data-voffset="['73', '73', '73', '60','55']" data-start="1600">
                        <a href="#" class="slide-button">Get Started</a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/Public/images/slide_16.jpg" alt="Work" class="rev-slidebg">
                    <div class="tp-caption slide-heading-2 text-capitalize font-weight-normal" data-x="center" data-y="center" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-100','-100','-100','-90','-80']"
                         data-start="900">you think big</div>

                    <div class="tp-caption slide-heading-1" data-x="center" data-y="center" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-30','-30','-30','-30','-25']" data-start="1300" data-fontsize="['72','72','52','50','46', '42']">you get big</div>

                    <div class="tp-caption" data-x="center" data-y="center" data-transform_in="y:100px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:200px;opacity:0;s:300;" data-voffset="['73', '73', '73', '60','55']" data-start="1600">
                        <a href="#" class="slide-button">Get Started</a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/Public/images/slide_17.jpg" alt="Work" class="rev-slidebg">

                    <div class="tp-caption slide-heading-2 text-capitalize font-weight-normal" data-x="center" data-y="center" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="['-100','-100','-100','-90','-80']"
                         data-start="900">you think big</div>

                    <div class="tp-caption slide-heading-1" data-x="center" data-y="center" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-voffset="['-30','-30','-30','-30','-25']" data-start="1300" data-fontsize="['72','72','52','50','46','42']">you get big</div>

                    <div class="tp-caption" data-x="center" data-y="center" data-transform_in="y:100px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:200px;opacity:0;s:300;" data-voffset="['73', '73', '73', '60','55']" data-start="1600">
                        <a href="#" class="slide-button">Get Started</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Iconbox -->
<section>
    <div class="section-wrapper p-t-55 p-b-42">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-6">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <a href="#">
                                    <i class="fa fa-bar-chart"></i>
                                </a>
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Moblie Ready</a>
                                <div class="iconbox-content-body">
                                    <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-6">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <a href="#">
                                    <i class="fa fa-diamond"></i>
                                </a>
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Very Easy Customizie</a>
                                <div class="iconbox-content-body">
                                    <p>Etiam mollis dui diam, eget accumsan neque consectetur quis sit amet elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="iconbox iconbox-style-6">
                        <div class="iconbox-container">
                            <div class="iconbox-image">
                                <a href="#">
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            </div>
                            <div class="iconbox-content">
                                <a href="#" class="iconbox-content-heading">Free Icon Font Awesome</a>
                                <div class="iconbox-content-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Iconbox -->
<!-- About  -->
<section>
    <div class="section-wrapper bg-gray p-t-45 p-b-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-t-27">
                    <img src="~/Public/images/about_02.jpg" alt="about" class="w-100">
                </div>
                <div class="col-md-6 p-t-20">
                    <div class="about about-style-2 ">
                        <div class="section-title justify-content-start">
                            <h3 class="text-left">We are bemax</h3>
                            <div class="title-border m-b-22"></div>
                        </div>
                        <div class="about-container">
                            <div class="about-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id tempor nisi. Morbi tincidunt tellus arcu, mollis rutrum leo posuere et. Cras porttitor auctor ligula quis malesuada. Morbi luctus risus at sapien
                                    faucibus egestas. Aliquam convallis, augue ac luctus tempor, magna lacus fringilla mi, sit amet egestas ex libero sed orci. Pellentesque nons, rutrum nunc sed, imperdiet ex. Phasellus et imperdiet ante.
                                </p>
                                <ul class="about-list">
                                    <li>
                                        <i class="fa fa-check-circle"></i>Phasellus fringilla convallis augue vitae
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Cras bibendum tristique nisl
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Aenean eget nunc nec sapien tempus
                                    </li>
                                </ul>
                                <div class="about-readmore style-1">
                                    <a href="#" class="">Get Started</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Projects -->
<section>
    <div class="section-wrapper p-t-60 p-b-90">
        <div class="container">
            <div class="section-title justify-content-start">
                <h3 class="text-left">Latest Projects</h3>
                <div class="title-border m-b-30"></div>
            </div>
            <div class="owl-carousel js-owl-nav owl-nav-1" data-items="4" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"}}'>
                <div class="project">
                    <div class="project-container">
                        <div class="project-image">
                            <img src="~/Public/images/project_01.jpg" alt="Project 1">
                        </div>
                        <div class="project-content">
                            <div class="project-content-body">
                                <a href="#" class="project-title">Business Growth Solutions</a>
                                <div class="project-label">
                                    <a href="#">Finance</a>
                                    <a href="#">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-container">
                        <div class="project-image">
                            <img src="~/Public/images/project_02.jpg" alt="Project 1">
                        </div>
                        <div class="project-content">
                            <div class="project-content-body">
                                <a href="#" class="project-title">Business Growth Solutions</a>
                                <div class="project-label">
                                    <a href="#">Finance</a>
                                    <a href="#">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-container">
                        <div class="project-image">
                            <img src="~/Public/images/project_03.jpg" alt="Project 1">
                        </div>
                        <div class="project-content">
                            <div class="project-content-body">
                                <a href="#" class="project-title">Business Growth Solutions</a>
                                <div class="project-label">
                                    <a href="#">Finance</a>
                                    <a href="#">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-container">
                        <div class="project-image">
                            <img src="~/Public/images/project_04.jpg" alt="Project 1">
                        </div>
                        <div class="project-content">
                            <div class="project-content-body">
                                <a href="#" class="project-title">Business Growth Solutions</a>
                                <div class="project-label">
                                    <a href="#">Finance</a>
                                    <a href="#">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Project -->
<!-- Testimonial -->
<section>
    <div class="section-wrapper bg-gray p-t-40 p-b-50">
        <div class="container">
            <div class="section-title justify-content-start js-owl-nav-1">
                <h3 class="text-left">
                    Testimonials
                    <span class="au-owl-prev">
                        <i class="fa fa-angle-left"></i>
                    </span>
                    <span class="au-owl-next">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </h3>
                <div class="title-border m-b-17"></div>
            </div>
            <div class="row">
                <div class="owl-carousel" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"1"},"768":{"items":"2"},"992":{"items":"3"}}'>
                    <div class="col-12">
                        <div class="testimonial testi-style-4">
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p>
                                        <span></span>Morbi auctor vel mauris facilisis lacinia. Aenean suscipit lorem leo, et hendrerit odio fermentum et. Donec ac dolor eros. Mauris arcu nunc, iaculis sit amet lacus iaculis, faucibus faucibus nunc. Vestibulum
                                        sit amet lacinia massa
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_05.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">Cheryl Cruz</a>
                                        <p class="testi-author-job">Maketing Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="testimonial testi-style-4">
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p>
                                        <span></span>Quisque condimentum a libero sed ornare. Nulla metus est, fermentum in euismod ut, aliquet ac tortor. Pellentesque sagittis consectetur odio, vitae varius nulla facilisis vel. Quisque malesuada nibh et
                                        lacinia tempus consequat lacus
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_04.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">Linda Campbell</a>
                                        <p class="testi-author-job">Sale Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="testimonial testi-style-4">
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p>
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-image">
                                        <img src="~/Public/images/user_03.png" alt="Alex">
                                    </div>
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name">John Walker</a>
                                        <p class="testi-author-job">Photographer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Testimonial -->
<!-- Hire Us -->
<section>
    <div class="section-wrapper bg-black-2 p-t-20 p-b-30">
        <div class="container">
            <div class="hire-us hire-us-style-2">
                <div class="hire-us-container">
                    <div class="hire-us-text">
                        <p>
                            We’ve Completed More Than
                            <span>100+</span>project for our amazing clients, If you interested?
                        </p>
                    </div>
                    <div class="hire-us-button">
                        <a href="#">Hire Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hire Us -->
<!-- Latest Blog  -->
<section>
    <div class="section-wrapper p-t-60 p-b-40">
        <div class="container">
            <div class="section-title justify-content-start js-owl-nav-1">
                <h3 class="text-left">
                    Latest blog Posts
                    <span class="au-owl-prev">
                        <i class="fa fa-angle-left"></i>
                    </span>
                    <span class="au-owl-next">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </h3>
                <div class="title-border m-b-10"></div>
            </div>
            <div class="owl-carousel" data-items="2" data-loop="true" data-responsive='{"0":{"items":"1"},"768":{"items":"1"},"992":{"items":"2"}}'>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_02.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">Help your business to success</a>
                            <p class="blog-content-text">Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar eu rhoncus ligula. Ut leo mauris, molestie imperdiet consequat</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_03.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">How to find work you love</a>
                            <p class="blog-content-text">Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar eu rhoncus ligula. Ut leo mauris, molestie imperdiet</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog blog-style-1">
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="blog-image-container">
                                <img src="~/Public/images/blog_01.jpg" alt="Blog">
                                <span class="blog-date">
                                    March 25, 2018
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="#" class="blog-content-title">10 Tips for a Business Strong Start</a>
                            <p class="blog-content-text">Donec sit amet neque lectus. Ut vitae turpis justo. Nullam a sodales est, at viverra sem. Mauris vitae pellentesque nisi, sit amet.</p>
                            <div class="blog-button">
                                <div class="blog-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="#">Development</a>,
                                    <a href="#">Maketing</a>
                                </div>
                                <div class="blog-readmore">
                                    <a href="#">
                                        <i class="fa fa-plus-square"></i>Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest Blog -->
<!-- Partner -->
<section>
    <div class="section-wrapper bg-fixed p-t-60 p-b-44" data-image="~/Public/images/bg-image_02.jpg">
        <div class="overlay" data-color="rgba(66,114,215,0.9)"></div>
        <div class="container">
            <div class="section-title justify-content-start section-title-style-1 js-owl-nav-1">
                <h3 class="text-left">
                    Our Partners
                    <span class="au-owl-prev style-2">
                        <i class="fa fa-angle-left"></i>
                    </span>
                    <span class="au-owl-next style-2">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </h3>
                <div class="title-border m-b-3 bg-white"></div>
            </div>
            <div class="owl-carousel" data-items="6" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"6"}}'>
                <div class="partner">
                    <img src="~/Public/images/partner_07.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_08.png" alt="Partner 02">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_09.png" alt="Partner 03">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_10.png" alt="Partner 04">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_11.png" alt="Partner 05">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_12.png" alt="Partner 06">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner -->
